{
  "printWidth": 110,
  "tabWidth": 2,
  "overrides": [
    {
        "files": "*.ts",
        "options": {
            "tabWidth": 4
        }
    }
  ],
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always"
}
